*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --marrombk: #502314;
    --bannerbk: #F5EBDC;
}


@font-face {
    font-family:'BK';
    src: url('font/FlameRegular.otf')format('opentype');
    font-weight: normal;
}


body{
    font-family: 'BK';
}

header {
    
}



.bannertop {
    background-color: var(--bannerbk);
    display: flex;
    justify-content: center;
}

.meio {
    display: flex;
    background-color: var(--bannerbk);
    justify-content: space-around;
    height: 74px;
}

.logo {
    z-index: 999;
    margin-left: -70px;
}

.navmeio {
    background-color:var(--bannerbk);
    width: 1000px;
    display: flex;
    align-items:center;
    

}

.navmeio ul li {
    display: inline;
    margin-left: 55px;
}

.navmeio ul li a {
    color: var(--marrombk);
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    
}







section{
    background-color: rgb(216, 38, 38);
    height: 1000px;
}

.img-container{
    width: 100%vw;
    background-image: url(image/bk1.png);
    background-size: cover;
    height: 630px;
}