*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --marrombk: #502314;
    --bannerbk: #F5EBDC;
}


@font-face {
    font-family:'BK';
    src: url('font/FlameRegular.otf')format('opentype');
    font-weight: normal;
}


body{
    font-family: 'BK';
}



.bannertop {
    background-color: var(--bannerbk);
    display: flex;
    justify-content: center;
}

.meio {
    display: flex;
    background-color: var(--bannerbk);
    justify-content: space-around;
    height: 74px;
}

.logo {
    z-index: 999;
    margin-left: -70px;
}

.navmeio {
    background-color:var(--bannerbk);
    width: 1000px;
    display: flex;
    align-items:center;
    

}

.navmeio ul li {
    display: inline;
    margin-left: 55px;
}

.navmeio ul li a {
    color: var(--marrombk);
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    
}







.sec1{
    background-color: rgb(216, 38, 38);
    height: 650px;
    flex-wrap: wrap;
}

.swipper {
    
    height: 630px;
}



.swiper-button-next {
    position: absolute;
    top: 435px;
    right: 20px;
    color: white;
}

.swiper-button-prev {
    position: absolute;
    top: 435px;
    left: 20px;
    color: white;
}

.project-img{
    width: 100%vw;
    height: 630px;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

.img3 {
    width: 100%;
}

.swiper-pagination {
    margin-top: 10px;
    position: relative;
       
}