*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --marrombk: #502314;
    --bannerbk: #F5EBDC;
}


@font-face {
    font-family:'BK';
    src: url('font/FlameRegular.otf')format('opentype');
    font-weight: normal;
}



body{
    font-family: 'BK';
}



.bannertop {
    background-color: var(--bannerbk);
    display: flex;
    justify-content: center;
}

.meio {
    display: flex;
    background-color: var(--bannerbk);
    justify-content: space-around;
    height: 74px;
}

.logo {
    z-index: 999;
    margin-left: -70px;
}

.navmeio {
    background-color:var(--bannerbk);
    width: 1000px;
    display: flex;
    align-items:center;
    

}

.navmeio ul li {
    display: inline;
    margin-left: 55px;
}

.navmeio ul li a {
    color: var(--marrombk);
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    
}







.sec1{
    background-color: var(--bannerbk);
    height: 650px;
    flex-wrap: wrap;
}

.swipper {
    
    height: 630px;
}



.swiper-button-next {
    position: absolute;
    top: 435px;
    right: 20px;
    color: white;
}

.swiper-button-prev {
    position: absolute;
    top: 435px;
    left: 20px;
    color: white;
}

.project-img{
    width: 100%vw;
    height: 630px;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

.img3 {
    width: 100%;
}

.swiper-pagination {
    margin-top: 10px;
    position: relative;      
}

.sec2 {
    height: 600px;
}

.img4 {
    width: 100%;
}

.foot {
    background-color: var(--marrombk);
    height: 480px;
}

.footlg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 30px;
}

.footlist{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 15px;
}

.footlist ul li {
    display: inline;
}

.footlist ul li a {
    font-family: 'BK';
    padding: 12px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.footlist ul li a:hover {
    text-decoration: underline;
} 

.footlist2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footlist2 ul li {
    display: inline;
}

.footlist2 ul li a {
    font-size: 18px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 5px;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.footlist2 ul li a:hover {
    text-decoration: underline;
}

.hr {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.hr1 {
    width: 1300px;
    margin-top: 50px;
    background-color: white;
    height: 1px;
}

.comp {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.comp1 {
    color: white;
    font-size: 22px;
}

.ins {
    display:flex;
    justify-content: center;
    align-items: end;
    height: 67px;
}

.ins1 ul li {
    display: inline;
    padding-right: 15px;
    text-decoration: none;
}

.dir {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.dir1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
}