ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.float { 
    float: right;
}

ul li:hover:not(.ativa) {
    background-color: #111;
}

.ativa {
    background-color: #04AA6d;
}