*{
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    height: 100px;
}

.banner {
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: aliceblue;
    font-weight: 800;
}

.meio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meio .search {
   

}

.input {
    border-radius: 180px;
    border: solid rgb(0, 0, 0);
    padding: 10px;
    margin-left: 23px;
}

.meio .icone ul li {
    display: inline;
}

.meio .icone ul li i {
    margin-right: 35px;
    font-size: 20px;
    color: black;
}

.meio .logo {
    padding-top: 5px;
}