* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: gr;
    src: url(jonathan-regular.ttf) ;
}

@font-face {
    font-family: is;
    src: url(Courteous-p7wAD.ttf);
}



header {
    width: 100%;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.top-nav p {
    font-weight: 800;
    font-size: 10px;
    padding: 4px;
    color: white;
}

.middle-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: darkkhaki;
}

.middle-nav .logo {
    display: flex;
    
}

.middle-nav .logo p {
    color: aqua;
    font-family: is;
    font-size: 80px;
}

.middle-nav .logo span{
    color: blueviolet;
    font-size: 60px;
    font-family: gr;
    padding-top: 15px;
}

.middle-nav .middle-nav-left {
    display: inline;
}

.middle-nav .middle-nav-left i {
    margin: 0 12px;
    color: black;
    font-size: 24px;
}

.middle-nav .middle-nav-right ul li {
    display: inline;
}

.middle-nav .middle-nav-right ul li a {
    margin: 0 12px;
    color: black;
    font-size: 24px;
}
































.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.bottom-nav .bottom-nav-center ul li {
    display: inline;
    margin: 0 35px;
}

.bottom-nav .bottom-nav-center ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

